*,
*::after,
*::before{
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1 rem = 10px
    @include respond(tab-land) { 
        font-size: 60%; //1 rem = 9px, 9/16
    }
    @include respond(tab-port) { 
        font-size: 60%; //1 rem = 8px, 8/16
    }
    @include respond(phone) { 
        font-size: 50%; //1 rem = 7px, 7/16
    }
    @include respond(small-phone) { 
        font-size: 55%; //1 rem = 7px, 7/16
    }
    @include respond(smaller-phone) { 
        font-size: 62%; //1 rem = 7px, 7/16
    }
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
    @include respond(bigger-desktop) {
        font-size: 100%; //1rem = 16, 16/16
    }
    @include respond(4kDisplay) {
        font-size: 160%; //1rem = 23px, 23/16
    }
    @include respond(biggest-desktop) {
        font-size: 200%; //1rem = 20px, 20/16
    }
}

body {
    font-family:"Times New Roman", "Helvetica Neue Light", "Helvetica Neue",sans-serif;
    font-weight: 200;
    box-sizing: border-box;   
}

.link{
    text-decoration: none;
}