.note{
    height: 13rem;
    width: 45rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2rem;
    box-shadow: -2px 17px 47px -9px rgba(0,0,0,0.75);
    &-title{
        height: 9rem;
        width: 100%;
        font-size: 2.5rem;
        padding: 0.5rem 1.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h6{
            background-color: $color-primary;
            padding: 1.3rem;
            border-radius: 50%;
            margin-right: 2rem;
        }
        &__desc{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h3{
                font-size: 2.3rem;
            }
            p{
                font-size: 2rem;
            }
        }
    }
    &-description{
        height: 10rem;
        width: 100%;
        font-size: 2rem;
        padding: 0 1.5rem;
    }
    &-edit{
        height: 5rem;
        width: 100%;
        padding: 0 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p{
            font-size: 1.5rem;
            color: $color-primary;
            cursor: pointer;
            &:hover{
                color: $color-secondary;
            }
        }
    }
}